## Import

In [1]:
import pandas as pd

## smc_daliy_price data max date_gap
### Read the smc daily price data

In [2]:
adj_price = pd.read_csv('adj_smc_daily_price_no_0.csv', parse_dates=['date'])
adj_price.head()

,bloomberg_ticker,nse_ticker,entity_share_class_figi,date,adj_open,adj_high,adj_low,adj_close,adj_volume,value,adj_oi
0,NaN,3IINFOTECH,NaN,2009-01-01,39.35,41.40,38.75,40.60,299.0,324.86,2373300.0
1,NaN,3IINFOTECH,NaN,2009-01-02,40.90,43.60,40.70,41.40,435.0,495.12,2567700.0
2,NaN,3IINFOTECH,NaN,2009-01-05,42.00,42.20,40.15,40.55,322.0,356.59,2578500.0
3,NaN,3IINFOTECH,NaN,2009-01-06,40.20,42.70,40.00,40.90,247.0,276.09,2675700.0
4,NaN,3IINFOTECH,NaN,2009-01-07,41.90,43.25,35.25,36.65,687.0,727.72,2459700.0

### Shift the date and calculate the date gap

In [3]:
adj_price = adj_price.sort_values(['nse_ticker', 'date'])
adj_price['next_date'] = adj_price.groupby('nse_ticker').date.shift(-1)
adj_price['date_gap'] = adj_price['next_date'] - adj_price['date']
adj_price['date_gap'] = adj_price['date_gap'].apply(lambda x: x.days)

In [4]:
adj_price.head()

,bloomberg_ticker,nse_ticker,entity_share_class_figi,date,adj_open,adj_high,adj_low,adj_close,adj_volume,value,adj_oi,next_date,date_gap
0,NaN,3IINFOTECH,NaN,2009-01-01,39.35,41.40,38.75,40.60,299.0,324.86,2373300.0,2009-01-02,1.0
1,NaN,3IINFOTECH,NaN,2009-01-02,40.90,43.60,40.70,41.40,435.0,495.12,2567700.0,2009-01-05,3.0
2,NaN,3IINFOTECH,NaN,2009-01-05,42.00,42.20,40.15,40.55,322.0,356.59,2578500.0,2009-01-06,1.0
3,NaN,3IINFOTECH,NaN,2009-01-06,40.20,42.70,40.00,40.90,247.0,276.09,2675700.0,2009-01-07,1.0
4,NaN,3IINFOTECH,NaN,2009-01-07,41.90,43.25,35.25,36.65,687.0,727.72,2459700.0,2009-01-09,2.0

In [5]:
# check if any problematic ticker (date_gap is too big) exists 
adj_price.groupby(['nse_ticker'])['date_gap'].max().reset_index().sort_values("date_gap", ascending=False).head()

     nse_ticker  date_gap
368  TORNTPOWER    2654.0
272    NIITTECH    2654.0
342         SRF    2164.0
77   CHENNPETRO    2164.0
396  WOCKPHARMA    1982.0

In [6]:
max_gap = pd.pivot_table(adj_price, values='date_gap', index='nse_ticker', 
                         aggfunc=max).sort_values('date_gap', ascending=False).reset_index()
max_gap.head()

   nse_ticker  date_gap
0  TORNTPOWER    2654.0
1    NIITTECH    2654.0
2         SRF    2164.0
3  CHENNPETRO    2164.0
4  WOCKPHARMA    1982.0

In [7]:
# check how many tickers have a big gap in the price records
len(max_gap[max_gap['date_gap'] > 6])

52

In [8]:
# convert to a csv of the max gap_date based on each ticker
max_gap.to_csv('adj_smc_daily_price_max_gapdate.csv', index=False)

## healthcare price prediction data max date_gap

In [9]:
healthcare_prediction = pd.read_csv("auto_healthcare_dj_price_prediction.csv", parse_dates=['date'])
healthcare_prediction.head()

,date,ticker,preds,truths,proba,proba_filtered
0,2019-05-21 00:00:00-04:00,APOLLOHOSP,1,-1,0.706357,0.706357
1,2019-05-21 00:00:00-04:00,BIOCON,-1,-1,-1.000000,-1.000000
2,2019-05-21 00:00:00-04:00,CADILAHC,-1,-1,-1.000000,-1.000000
3,2019-05-21 00:00:00-04:00,CIPLA,1,-1,0.871319,0.871319
4,2019-05-21 00:00:00-04:00,DRREDDY,1,1,0.550777,NaN

In [10]:
healthcare_prediction = healthcare_prediction.sort_values(['ticker', 'date'])
healthcare_prediction['next_date'] = healthcare_prediction.groupby('ticker')['date'].shift(-1)
healthcare_prediction['date_gap'] = healthcare_prediction['next_date'] - healthcare_prediction['date']
healthcare_prediction['date_gap'] = healthcare_prediction['date_gap'].apply(lambda x:x.days)

In [11]:
# healthcare_prediction['date_gap'].sort_values(ascending=False).head()

15492    1982.0
9996        6.0
9994        6.0
9991        6.0
9992        6.0
Name: date_gap, dtype: float64

In [12]:
# check the number of tickers
# healthcare_prediction.ticker.nunique()

10

In [13]:
healthcare_max_gap = healthcare_prediction.pivot_table(values='date_gap', index='ticker', 
                                                       aggfunc='max').sort_values('date_gap', ascending=False).reset_index()

In [14]:
# check if any problematic ticker exists in the healthcare price prediction data
healthcare_max_gap

       ticker  date_gap
0  WOCKPHARMA    1982.0
1  APOLLOHOSP       6.0
2      BIOCON       6.0
3       CIPLA       6.0
4     DRREDDY       6.0
5    GLENMARK       6.0
6       LUPIN       6.0
7    CADILAHC       5.0
8         PEL       5.0
9  TORNTPHARM       5.0

In [15]:
# the start-date of the prediction of the healthcare ticker
healthcare_prediction.groupby('ticker')['date'].min()

ticker
APOLLOHOSP    2014-05-14 00:00:00-04:00
BIOCON        2009-05-29 00:00:00-04:00
CADILAHC      2016-02-10 00:00:00-05:00
CIPLA         2009-05-25 00:00:00-04:00
DRREDDY       2009-05-25 00:00:00-04:00
GLENMARK      2014-02-12 00:00:00-05:00
LUPIN         2009-05-26 00:00:00-04:00
PEL           2017-05-15 00:00:00-04:00
TORNTPHARM    2016-05-18 00:00:00-04:00
WOCKPHARMA    2009-05-26 00:00:00-04:00
Name: date, dtype: object

In [16]:
healthcare = healthcare_prediction.ticker.unique()
sub_price_healthcare = adj_price[adj_price.nse_ticker.isin(healthcare)]

In [17]:
# the start-date of the price of the healthcare ticker
sub_price_healthcare.groupby('nse_ticker').date.min()

nse_ticker
APOLLOHOSP   2013-12-27
BIOCON       2009-01-01
CADILAHC     2015-09-28
CIPLA        2009-01-01
DRREDDY      2009-01-01
GLENMARK     2013-10-03
LUPIN        2009-01-01
PEL          2012-09-21
TORNTPHARM   2016-01-01
WOCKPHARMA   2009-01-01
Name: date, dtype: datetime64[ns]

In [18]:
# check if any problematic ticker exists in the healthcare price data
sub_price_healthcare.groupby("nse_ticker").date_gap.max().reset_index()

   nse_ticker  date_gap
0  APOLLOHOSP       6.0
1      BIOCON       6.0
2    CADILAHC       5.0
3       CIPLA       6.0
4     DRREDDY       6.0
5    GLENMARK       6.0
6       LUPIN       6.0
7         PEL    1555.0
8  TORNTPHARM       5.0
9  WOCKPHARMA    1982.0

In [19]:
# Query the gap date of the problematic ticker in the prediction data
healthcare_prediction.query("ticker == 'WOCKPHARMA'").sort_values('date_gap', ascending=False).head()

,date,ticker,preds,truths,proba,proba_filtered,next_date,date_gap
15492,2009-06-25 00:00:00-04:00,WOCKPHARMA,1,1,0.734567,NaN,2014-11-28 00:00:00-05:00,1982.0
9192,2015-04-01 00:00:00-04:00,WOCKPHARMA,1,1,0.714829,NaN,2015-04-06 00:00:00-04:00,5.0
7367,2016-04-13 00:00:00-04:00,WOCKPHARMA,1,-1,0.702100,NaN,2016-04-18 00:00:00-04:00,5.0
7471,2016-03-23 00:00:00-04:00,WOCKPHARMA,1,-1,0.567800,0.567800,2016-03-28 00:00:00-04:00,5.0
2816,2018-03-28 00:00:00-04:00,WOCKPHARMA,1,-1,0.652895,0.652895,2018-04-02 00:00:00-04:00,5.0

In [20]:
## Query the gap date of the problematic ticker in the price data
adj_price.query("nse_ticker == 'WOCKPHARMA'").sort_values('date_gap', ascending=False).head()

,bloomberg_ticker,nse_ticker,entity_share_class_figi,date,adj_open,adj_high,adj_low,adj_close,adj_volume,value,adj_oi,next_date,date_gap
484554,WPL,WOCKPHARMA,BBG001SDN510,2009-06-25,144.00,148.5,142.50,148.00,179.0,626.86,1113600.0,2014-11-28,1982.0
484640,WPL,WOCKPHARMA,BBG001SDN510,2015-04-01,1861.10,1893.5,1856.30,1887.55,5236.0,49107.26,2631500.0,2015-04-06,5.0
485380,WPL,WOCKPHARMA,BBG001SDN510,2018-03-28,731.10,741.6,723.65,726.65,2659.0,17532.42,301500.0,2018-04-02,5.0
484895,WPL,WOCKPHARMA,BBG001SDN510,2016-04-13,1047.85,1058.0,1030.00,1035.50,5436.0,21361.81,2147625.0,2016-04-18,5.0
484515,WPL,WOCKPHARMA,BBG001SDN510,2009-04-29,91.40,95.4,88.15,88.75,337.0,746.43,290400.0,2009-05-04,5.0

## Auto energey price prediction data max date_gap

In [21]:
energy_prediction = pd.read_csv("auto_energy_dj_price_prediction.csv", parse_dates=['date'])
energy_prediction.head()

,date,ticker,preds,truths,proba,proba_filtered
0,2019-05-21 00:00:00-04:00,BPCL,1,-1,0.900000,0.900000
1,2019-05-21 00:00:00-04:00,HINDPETRO,-1,-1,-0.594386,-0.594386
2,2019-05-21 00:00:00-04:00,IOC,1,-1,0.730989,NaN
3,2019-05-21 00:00:00-04:00,MRPL,-1,-1,-0.877875,NaN
4,2019-05-21 00:00:00-04:00,OIL,1,-1,0.632422,NaN

In [22]:
energy_prediction = energy_prediction.sort_values(['ticker', 'date'])
energy_prediction['next_date'] = energy_prediction.groupby('ticker')['date'].shift(-1)
energy_prediction['date_gap'] = energy_prediction['next_date'] - energy_prediction['date']
energy_prediction['date_gap'] = energy_prediction['date_gap'].apply(lambda x:x.days)

In [23]:
# energy_prediction['date_gap'].sort_values(ascending=False).head()

11291    1674.0
11292     974.0
8306        6.0
8303        6.0
8305        6.0
Name: date_gap, dtype: float64

In [24]:
# energy_prediction.ticker.nunique()

8

In [25]:
energy_max_gap = energy_prediction.pivot_table(values='date_gap', index='ticker', 
                                               aggfunc='max').sort_values('date_gap', ascending=False).reset_index()

In [26]:
energy_max_gap

      ticker  date_gap
0       MRPL    1674.0
1        OIL     974.0
2       BPCL       6.0
3  HINDPETRO       6.0
4        IOC       6.0
5       ONGC       6.0
6   PETRONET       6.0
7   RELIANCE       6.0

In [27]:
energy_prediction.groupby('ticker')['date'].min()

ticker
BPCL        2009-05-25 00:00:00-04:00
HINDPETRO   2009-05-26 00:00:00-04:00
IOC         2009-05-26 00:00:00-04:00
MRPL        2009-05-26 00:00:00-04:00
OIL         2011-03-16 00:00:00-04:00
ONGC        2009-05-25 00:00:00-04:00
PETRONET    2009-05-27 00:00:00-04:00
RELIANCE    2009-05-25 00:00:00-04:00
Name: date, dtype: datetime64[ns, tzoffset(None, -14400)]

In [28]:
energy = energy_prediction.ticker.unique()
sub_price_energy = adj_price[adj_price["nse_ticker"].isin(energy)]

In [29]:
sub_price_energy.groupby('nse_ticker').date.min()

nse_ticker
BPCL        2009-01-01
HINDPETRO   2009-01-01
IOC         2009-01-01
MRPL        2009-01-01
OIL         2010-10-29
ONGC        2009-01-01
PETRONET    2009-01-01
RELIANCE    2009-01-01
Name: date, dtype: datetime64[ns]

In [30]:
sub_price_energy.groupby("nse_ticker").date_gap.max().reset_index()

  nse_ticker  date_gap
0       BPCL       6.0
1  HINDPETRO       6.0
2        IOC       6.0
3       MRPL    1674.0
4        OIL     974.0
5       ONGC       6.0
6   PETRONET       6.0
7   RELIANCE       6.0

In [31]:
energy_prediction.query("ticker =='MRPL'").sort_values('date_gap', ascending=False).head()

,date,ticker,preds,truths,proba,proba_filtered,next_date,date_gap
11291,2012-09-27 00:00:00-04:00,MRPL,1,1,0.909219,0.909219,2017-04-28 00:00:00-04:00,1674.0
16483,2009-12-24 00:00:00-05:00,MRPL,1,1,0.704940,0.704940,2009-12-29 00:00:00-05:00,5.0
1321,2018-09-12 00:00:00-04:00,MRPL,1,-1,0.559267,NaN,2018-09-17 00:00:00-04:00,5.0
16189,2010-02-26 00:00:00-05:00,MRPL,-1,1,-0.960244,-0.960244,2010-03-03 00:00:00-05:00,5.0
12262,2012-04-04 00:00:00-04:00,MRPL,-1,1,-0.689684,-0.689684,2012-04-09 00:00:00-04:00,5.0

In [32]:
sub_price_energy.query("nse_ticker == 'MRPL'").sort_values('date_gap', ascending=False).head()

,bloomberg_ticker,nse_ticker,entity_share_class_figi,date,adj_open,adj_high,adj_low,adj_close,adj_volume,value,adj_oi,next_date,date_gap
310178,MRPL,MRPL,BBG001S840W9,2012-09-27,59.25,60.65,58.10,60.10,214.0,509.08,616000.0,2017-04-28,1674.0
310407,MRPL,MRPL,BBG001S840W9,2018-03-28,111.45,111.45,108.20,109.75,993.0,4928.36,814500.0,2018-04-02,5.0
309487,MRPL,MRPL,BBG001S840W9,2009-12-24,78.00,79.20,77.75,78.35,564.0,1966.95,4605750.0,2009-12-29,5.0
309323,MRPL,MRPL,BBG001S840W9,2009-04-29,48.20,49.20,47.60,49.10,189.0,815.02,720900.0,2009-05-04,5.0
310056,MRPL,MRPL,BBG001S840W9,2012-04-04,68.25,68.70,67.45,68.40,43.0,117.14,1796000.0,2012-04-09,5.0

## Auto communication price prediction(both news and price) data max date_gap

In [33]:
communication_prediction = pd.read_csv("auto_communication_dj_price_prediction.csv", parse_dates=['date'])
communication_prediction.head()

,date,ticker,preds,truths,proba,proba_filtered
0,2019-05-21 00:00:00-04:00,BHARTIARTL,1,-1,0.856928,0.856928
1,2019-05-21 00:00:00-04:00,IDEA,1,-1,0.587570,0.587570
2,2019-05-21 00:00:00-04:00,INFRATEL,1,1,0.522500,0.522500
3,2019-05-21 00:00:00-04:00,TATACOMM,-1,-1,-0.580018,NaN
4,2019-05-20 00:00:00-04:00,BHARTIARTL,1,1,0.902589,0.902589

In [34]:
communication_prediction = communication_prediction.sort_values(['ticker', 'date'])
communication_prediction['next_date'] = communication_prediction.groupby('ticker')['date'].shift(-1)
communication_prediction['date_gap'] = communication_prediction['next_date'] - communication_prediction['date']
communication_prediction['date_gap'] = communication_prediction['date_gap'].apply(lambda x:x.days)

In [35]:
# communication_prediction['date_gap'].sort_values(ascending=False).head()

5260    6.0
5262    6.0
3794    6.0
5259    6.0
5261    6.0
Name: date_gap, dtype: float64

In [36]:
# communication_prediction['ticker'].nunique()

5

In [37]:
communication_max_gap = communication_prediction.pivot_table(values='date_gap', index='ticker', 
                                                             aggfunc='max').sort_values('date_gap', ascending=False).reset_index()

In [38]:
communication_max_gap

       ticker  date_gap
0  BHARTIARTL       6.0
1        IDEA       6.0
2        RCOM       6.0
3    TATACOMM       6.0
4    INFRATEL       5.0

In [39]:
communication_prediction.groupby('ticker')['date'].min()

ticker
BHARTIARTL    2009-05-25 00:00:00-04:00
IDEA          2009-05-28 00:00:00-04:00
INFRATEL      2016-02-10 00:00:00-05:00
RCOM          2009-05-25 00:00:00-04:00
TATACOMM      2009-05-25 00:00:00-04:00
Name: date, dtype: object

In [40]:
communication = communication_prediction.ticker.unique()
sub_price_communication = adj_price[adj_price["nse_ticker"].isin(communication)]

In [63]:
sub_price_communication.groupby('nse_ticker').date.min().reset_index()

   nse_ticker       date
0  BHARTIARTL 2009-01-01
1        IDEA 2009-01-01
2    INFRATEL 2015-09-28
3        RCOM 2009-01-01
4    TATACOMM 2009-01-01

In [42]:
sub_price_communication.groupby("nse_ticker").date_gap.max().reset_index()

   nse_ticker  date_gap
0  BHARTIARTL       6.0
1        IDEA       6.0
2    INFRATEL       5.0
3        RCOM       6.0
4    TATACOMM       6.0

## Auto communication price prediction (price only) data max date_gap

In [43]:
communication_price_only = pd.read_csv("auto_communication_price_only_prediction.csv", parse_dates=['date'])
communication_price_only.head()

,date,ticker,preds,truths,proba,proba_filtered
0,2019-05-21 00:00:00-04:00,BHARTIARTL,1,-1,0.800000,NaN
1,2019-05-21 00:00:00-04:00,IDEA,-1,-1,-0.878111,-0.878111
2,2019-05-21 00:00:00-04:00,INFRATEL,-1,1,-0.590387,-0.590387
3,2019-05-21 00:00:00-04:00,TATACOMM,-1,-1,-0.643513,NaN
4,2019-05-20 00:00:00-04:00,BHARTIARTL,-1,1,-0.600000,NaN

In [44]:
communication_price_only = communication_price_only.sort_values(['ticker', 'date'])
communication_price_only['next_date'] = communication_price_only.groupby('ticker')['date'].shift(-1)
communication_price_only['date_gap'] = communication_price_only['next_date'] - communication_price_only['date']
communication_price_only['date_gap'] = communication_price_only['date_gap'].apply(lambda x:x.days)

In [45]:
# communication_price_only['date_gap'].sort_values(ascending=False).head()

5260    6.0
5262    6.0
3794    6.0
5259    6.0
5261    6.0
Name: date_gap, dtype: float64

In [46]:
# communication_price_only['ticker'].nunique()

5

In [47]:
communication_price_only_max_gap = communication_price_only.pivot_table(values='date_gap', index='ticker', 
                                                                        aggfunc='max').sort_values('date_gap', ascending=False).reset_index()

In [48]:
communication_price_only_max_gap

       ticker  date_gap
0  BHARTIARTL       6.0
1        IDEA       6.0
2        RCOM       6.0
3    TATACOMM       6.0
4    INFRATEL       5.0

In [49]:
communication_price_only.groupby('ticker')['date'].min()

ticker
BHARTIARTL    2009-05-25 00:00:00-04:00
IDEA          2009-05-28 00:00:00-04:00
INFRATEL      2016-02-10 00:00:00-05:00
RCOM          2009-05-25 00:00:00-04:00
TATACOMM      2009-05-25 00:00:00-04:00
Name: date, dtype: object

In [50]:
communication_only = communication_price_only.ticker.unique()
sub_price_communication_only = adj_price[adj_price["nse_ticker"].isin(communication_only)]

In [51]:
sub_price_communication_only.groupby('nse_ticker').date.min()

nse_ticker
BHARTIARTL   2009-01-01
IDEA         2009-01-01
INFRATEL     2015-09-28
RCOM         2009-01-01
TATACOMM     2009-01-01
Name: date, dtype: datetime64[ns]

In [52]:
sub_price_communication_only.groupby("nse_ticker").date_gap.max().reset_index()

   nse_ticker  date_gap
0  BHARTIARTL       6.0
1        IDEA       6.0
2    INFRATEL       5.0
3        RCOM       6.0
4    TATACOMM       6.0

## Auto utilities price prediction data max date_gap

In [53]:
utilities_prediction = pd.read_csv('auto_utilities_price_only_prediction.csv', parse_dates=['date'])
utilities_prediction.head()

,date,ticker,preds,truths,proba,proba_filtered
0,2019-05-21 00:00:00-04:00,CESC,-1,-1,-0.687360,-0.687360
1,2019-05-21 00:00:00-04:00,GAIL,1,-1,0.605790,NaN
2,2019-05-21 00:00:00-04:00,IGL,-1,-1,-0.678000,-0.678000
3,2019-05-21 00:00:00-04:00,NTPC,1,-1,0.535581,0.535581
4,2019-05-21 00:00:00-04:00,POWERGRID,-1,-1,-1.000000,-1.000000

In [54]:
utilities_prediction = utilities_prediction.sort_values(['ticker', 'date'])
utilities_prediction['next_date'] = utilities_prediction.groupby('ticker')['date'].shift(-1)
utilities_prediction['date_gap'] = utilities_prediction['next_date'] - utilities_prediction['date']
utilities_prediction['date_gap'] = utilities_prediction['date_gap'].apply(lambda x:x.days)

In [55]:
# utilities_prediction['date_gap'].sort_values(ascending=False).head()

9838     6.0
9839     6.0
9842     6.0
20645    6.0
9841     6.0
Name: date_gap, dtype: float64

In [56]:
# utilities_prediction.ticker.nunique()

10

In [57]:
utilities_max_gap = utilities_prediction.pivot_table(values='date_gap', index='ticker', 
                                                     aggfunc='max').sort_values('date_gap', ascending=False).reset_index()

In [58]:
utilities_max_gap

      ticker  date_gap
0       CESC       6.0
1       GAIL       6.0
2        IGL       6.0
3  JSWENERGY       6.0
4       NTPC       6.0
5  POWERGRID       6.0
6   RELINFRA       6.0
7     RPOWER       6.0
8  TATAPOWER       6.0
9       GSPL       5.0

In [59]:
utilities_prediction.groupby('ticker')['date'].min()

ticker
CESC         2009-05-25 00:00:00-04:00
GAIL         2009-05-25 00:00:00-04:00
GSPL         2009-05-28 00:00:00-04:00
IGL          2011-03-11 00:00:00-05:00
JSWENERGY    2011-12-01 00:00:00-05:00
NTPC         2009-05-26 00:00:00-04:00
POWERGRID    2009-05-27 00:00:00-04:00
RELINFRA     2009-05-25 00:00:00-04:00
RPOWER       2009-05-25 00:00:00-04:00
TATAPOWER    2009-05-25 00:00:00-04:00
Name: date, dtype: object

In [60]:
utilities =  utilities_prediction.ticker.unique()
sub_price_utilities = adj_price[adj_price["nse_ticker"].isin(utilities)]

In [61]:
sub_price_utilities.groupby('nse_ticker').date.min()

nse_ticker
CESC        2009-01-01
GAIL        2009-01-01
GSPL        2009-01-01
IGL         2010-10-29
JSWENERGY   2011-07-18
NTPC        2009-01-01
POWERGRID   2009-01-01
RELINFRA    2009-01-01
RPOWER      2009-01-01
TATAPOWER   2009-01-01
Name: date, dtype: datetime64[ns]

In [62]:
sub_price_utilities.groupby("nse_ticker").date_gap.max().reset_index()

  nse_ticker  date_gap
0       CESC       6.0
1       GAIL       6.0
2       GSPL       5.0
3        IGL       6.0
4  JSWENERGY       6.0
5       NTPC       6.0
6  POWERGRID       6.0
7   RELINFRA       6.0
8     RPOWER       6.0
9  TATAPOWER       6.0