# Import

In [1]:
import pandas as pd

# PE Data

## Read In PE Data

In [2]:
fwd_pe = pd.read_csv('FWD_PE.csv', low_memory=False)
fwd_pe.columns = fwd_pe.columns.str.replace(' ','')

In [3]:
new_df = fwd_pe[['AAN', 'Unnamed:1']]
new_df.rename(columns={'AAN':'date', 'Unnamed:1':'forward_pe'}, inplace=True)
new_df['ticker'] = 'AAN'

/Users/sz/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4218: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)
/Users/sz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [4]:
new_df.head()

        date  forward_pe ticker
0  8/14/2019       14.91    AAN
1   8/9/2019       15.16    AAN
2   8/2/2019       14.44    AAN
3  7/26/2019       15.10    AAN
4  7/19/2019       15.20    AAN

## Transform the PE Data

In [ ]:
for n in range(2,5823,2):
    new_df1 = fwd_pe.iloc[:,[n,n+1]]
    new_df1['ticker'] = new_df1.columns[0]
    first_col = new_df1.columns[0]
    new_df1.rename(columns={first_col:'date', 'Unnamed:{}'.format(n+1):'forward_pe'}, inplace=True)
    new_df = new_df.append(new_df1, ignore_index=True)

/Users/sz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
new_df.ticker.nunique()

In [ ]:
len(new_df)

## Data Quality Check

In [125]:
# Check if there is any null value
forward_pe = new_df.copy()
forward_pe.isnull().sum()

date          789274
forward_pe    789274
ticker             0
dtype: int64

In [126]:
# Drop the null values
forward_pe = forward_pe.dropna(axis=0, how='any')

In [127]:
# Check if there is any duplicates
len(forward_pe[forward_pe.duplicated(subset=['ticker', 'date'], keep='first')])

0

In [128]:
forward_pe['date'] = pd.to_datetime(forward_pe['date'])

In [129]:
forward_pe.to_csv('forward_pe.csv', index=False)

In [2]:
forward_pe_new = pd.read_csv('forward_pe.csv', parse_dates=['date'])

In [3]:
forward_pe_new.ticker.nunique()

2912

In [4]:
# Check if there is any date_gap
forward_pe_test = forward_pe_new.copy()
forward_pe_test = forward_pe_test.sort_values(['ticker' ,'date']).reset_index(drop=True)
forward_pe_test['next_date'] = forward_pe_test.groupby('ticker')['date'].shift(-1)
forward_pe_test['date_gap'] = forward_pe_test.apply(lambda x:(x['next_date'] - x['date']).days, axis=1)

In [37]:
forward_pe_test[(forward_pe_test['date_gap'].notnull()) & (forward_pe_test['date_gap'] > 7)].sort_values('date_gap', ascending=False).head()

              date  forward_pe ticker  next_date  date_gap
592314  2004-12-31       17.58   GNTY 2017-06-09    4543.0
783120  2006-12-29       99.90   LCTX 2016-03-18    3367.0
157398  2008-12-26       99.90    BBX 2017-12-01    3262.0
860085  2009-12-25       13.76   MFNC 2018-04-06    3024.0
1181089 2007-12-28       14.18   SBBX 2015-10-16    2849.0

In [9]:
forward_pe_test[(forward_pe_test['date_gap'].notnull()) & (forward_pe_test['date_gap'] > 7) & (forward_pe_test['date'] > '2004-08-06')].ticker.nunique()

1066

In [23]:
list = forward_pe_test[(forward_pe_test['date_gap'].notnull()) & (forward_pe_test['date_gap'] > 7)].ticker.unique()

In [38]:
# pe_df1 = pd.DataFrame({'Date_Gap_Ticker': list})

In [26]:
pe_df1.to_csv('pe_dategap_ticker.csv', index=False)

In [ ]:
forward_pe.to_csv(forward_pe.csv, index=False)

In [51]:
# Based on the client's request, drop the tickers that have date-gap is larger than 7 (1066 tickers are dropped)
left_pe = forward_pe_new[~forward_pe_new.ticker.isin(list)]

# PS Data

## Read In PS Data

In [17]:
fwd_ps = pd.read_csv('FWD_PS.csv', low_memory=False)
fwd_ps.columns = fwd_ps.columns.str.replace(' ','')

In [107]:
new_df2 = fwd_ps[['AAN', 'Unnamed:1']]
new_df2.rename(columns={'AAN':'date', 'Unnamed:1':'forward_ps'}, inplace=True)
new_df2['ticker'] = 'AAN'

/Users/sz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [108]:
fwd_ps.shape

(785, 5824)

In [109]:
new_df2.columns[0]

'date'

## Transform the PS Data

In [110]:
for n in range(2,5823,2):
    new_df1 = fwd_ps.iloc[:,[n,n+1]]
    new_df1['ticker'] = new_df1.columns[0]
    first_col = new_df1.columns[0]
    new_df1.rename(columns={first_col:'date', 'Unnamed:{}'.format(n+1):'forward_ps'}, inplace=True)
    new_df2 = new_df2.append(new_df1, ignore_index=True)

/Users/sz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

## Data Quality Check

In [111]:
# Check if there is any null value
forward_ps = new_df2.copy()
forward_ps.isnull().sum()

date          813572
forward_ps    813572
ticker             0
dtype: int64

In [112]:
# Drop the null values
forward_ps = forward_ps.dropna(axis=0, how='any')

In [113]:
# Check if there is any duplicates
len(forward_ps[forward_ps.duplicated(subset=['ticker', 'date'], keep='first')])

0

In [114]:
forward_ps['date'] = pd.to_datetime(forward_ps['date'])

In [118]:
forward_ps.to_csv('forward_ps.csv', index=False)

In [6]:
forward_ps_new = pd.read_csv('forward_ps.csv', parse_dates=['date'])

In [7]:
# Check if there is any date_gap
forward_ps_test = forward_ps_new.copy()
forward_ps_test = forward_ps_test.sort_values(['ticker' ,'date']).reset_index(drop=True)
forward_ps_test['next_date'] = forward_ps_test.groupby('ticker')['date'].shift(-1)
forward_ps_test['date_gap'] = forward_ps_test.apply(lambda x:(x['next_date'] - x['date']).days, axis=1)

In [44]:
forward_ps_test[(forward_ps_test['date_gap'].notnull()) & (forward_ps_test['date_gap'] > 7)].sort_values('date_gap', ascending=False).ticker.nunique()

1216

In [27]:
list2 = forward_ps_test[(forward_ps_test['date_gap'].notnull()) & (forward_ps_test['date_gap'] > 7)].sort_values('date_gap', ascending=False).ticker.unique()

In [28]:
ps_df1 = pd.DataFrame({'Date_Gap_Ticker': list2})

In [36]:
ps_df1.to_csv('ps_dategap_ticker.csv', index=False)

In [52]:
# Based on the client's request, drop the tickers that have date-gap is larger than 7 (1216 tickers are dropped)
left_ps = forward_ps_new[~forward_ps_new.ticker.isin(list2)]

## Merge the left_ps and left_pe

In [152]:
# After a check we could know that in all the 2912 tickers, 53 tickers are not overlapped in the pe and ps file, so we just drop them and remain the left part
forward_ps_pe = left_ps.merge(left_pe, how='inner', on=['date', 'ticker'])
forward_ps_pe = forward_ps_pe[['date', 'ticker', 'forward_ps', 'forward_pe']]

In [153]:
forward_ps_pe.ticker.nunique()

1550

## Data Quanlity Check

In [154]:
# Check if there is any null value
ps_pe = forward_ps_pe.copy()
ps_pe.isnull().sum()

date          0
ticker        0
forward_ps    0
forward_pe    0
dtype: int64

In [155]:
# Check if there is any duplicates
len(ps_pe[ps_pe.duplicated(subset=['ticker', 'date'], keep='first')])

0

In [70]:
# Check if there is any date_gap
ps_pe_test = ps_pe.copy()
ps_pe_test = ps_pe_test.sort_values(['ticker' ,'date']).reset_index(drop=True)
ps_pe_test['next_date'] = ps_pe_test.groupby('ticker')['date'].shift(-1)
ps_pe_test['date_gap'] = ps_pe_test.apply(lambda x:(x['next_date'] - x['date']).days, axis=1)

In [72]:
ps_pe_test[(ps_pe_test['date_gap'].notnull()) & (ps_pe_test['date_gap'] > 7)].sort_values('date_gap', ascending=False)

Empty DataFrame
Columns: [date, ticker, forward_ps, forward_pe, next_date, date_gap]
Index: []

In [156]:
ps_pe_test[(ps_pe_test['date_gap'].notnull()) & (ps_pe_test['date_gap'] != 7)].sort_values('date_gap', ascending=False).head()

             date ticker  forward_ps  forward_pe  next_date  date_gap
783    2019-08-09      A        3.96       20.68 2019-08-14       5.0
474443 2019-08-09   ONDK        0.56        8.31 2019-08-14       5.0
477600 2019-08-09    OSK        0.62        9.50 2019-08-14       5.0
476734 2019-08-09   ORLY        2.77       20.14 2019-08-14       5.0
475949 2019-08-09   ORGO        0.14       99.90 2019-08-14       5.0

In [157]:
ps_pe2 = ps_pe[ps_pe['date'] != '2019-08-14']

In [138]:
ps_pe_test3 = ps_pe2.copy()
ps_pe_test3 = ps_pe_test3.sort_values(['ticker' ,'date']).reset_index(drop=True)
ps_pe_test3['next_date'] = ps_pe_test3.groupby('ticker')['date'].shift(-1)
ps_pe_test3['date_gap'] = ps_pe_test3.apply(lambda x:(x['next_date'] - x['date']).days, axis=1)

In [140]:
ps_pe_test3[(ps_pe_test3['date_gap'].notnull()) & (ps_pe_test3['date_gap'] != 7)].sort_values('date_gap', ascending=False)

Empty DataFrame
Columns: [date, ticker, forward_ps, forward_pe, next_date, date_gap]
Index: []

In [158]:
ps_pe2.to_csv('forward_ps_pe.csv', index=False)