# Import

In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta

# Read Data

In [2]:
train = pd.read_csv('XYME_Train.csv')
test = pd.read_csv('XYME_Test.csv')

# Transformation

In [3]:
# the test data doesn't contain the target column (Y_Variable)
# add it in for later merge
test['Y_Variable'] = pd.Series()
# merge train and test data
after_merge = pd.concat([train, test], ignore_index=True, sort=False)
after_merge.head()

,Features_1,Features_2,Features_3,Features_4,Features_5,Features_6,Features_7,Features_8,Features_9,Features_10,...,Features_16,Features_17,Features_18,Features_19,Features_20,Features_21,Features_22,Features_23,Y_Variable,ID
0,20,0.0,0.0,0.0,0.0,0.0,0.0,-0.099848,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.920186,0.0,100165
1,20,0.0,0.0,0.0,0.0,0.0,0.0,0.159754,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.920186,0.0,100165
2,20,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.920186,0.0,100165
3,20,0.0,0.0,0.0,0.0,0.0,0.0,-0.174455,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.920186,0.0,100165
4,20,0.0,0.0,0.0,0.0,0.0,0.0,0.024228,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.920186,0.0,100165

In [4]:
# check the length of the new dataframe
len(train) + len(test) == len(after_merge)

True

In [5]:
len(after_merge)

603793

In [6]:
train.shape[0]

414792

In [7]:
# since both train and test data don't have date column
# add dummy date to the second level
date_list = pd.date_range(end='2019-10-07', periods=after_merge.shape[0], freq='S').tolist()
after_merge.insert(after_merge.columns.get_loc('ID'), column='Dates', value=date_list)

In [8]:
# add retrain frequency, retrain once per 1000 records
arr1 = []
np.asarray(arr1)
for i in range(train.shape[0] // 1000):
    temp = np.repeat(after_merge.Dates[(i+1) * 1000 - 1], 1000)
    arr1 = np.append(arr1, temp)
arr2 = np.repeat(after_merge.Dates[train.shape[0] - 1], (train.shape[0] - train.shape[0] // 1000 * 1000))
arr3 = np.repeat(after_merge.Dates[train.shape[0] - 1] + timedelta(seconds=1), test.shape[0])
freq_list = np.concatenate([arr1, arr2, arr3], axis=0)
after_merge.insert(after_merge.columns.get_loc('ID'), column='Retrain_Freq', value=freq_list)

In [9]:
after_merge.head()

,Features_1,Features_2,Features_3,Features_4,Features_5,Features_6,Features_7,Features_8,Features_9,Features_10,...,Features_18,Features_19,Features_20,Features_21,Features_22,Features_23,Y_Variable,Dates,Retrain_Freq,ID
0,20,0.0,0.0,0.0,0.0,0.0,0.0,-0.099848,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.920186,0.0,2019-09-30 00:16:48,2019-09-30 00:33:27,100165
1,20,0.0,0.0,0.0,0.0,0.0,0.0,0.159754,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.920186,0.0,2019-09-30 00:16:49,2019-09-30 00:33:27,100165
2,20,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.920186,0.0,2019-09-30 00:16:50,2019-09-30 00:33:27,100165
3,20,0.0,0.0,0.0,0.0,0.0,0.0,-0.174455,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.920186,0.0,2019-09-30 00:16:51,2019-09-30 00:33:27,100165
4,20,0.0,0.0,0.0,0.0,0.0,0.0,0.024228,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.920186,0.0,2019-09-30 00:16:52,2019-09-30 00:33:27,100165

# Output

In [10]:
after_merge.to_csv('after_merge.csv', index=False)